@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraCode";
  src: url("@/assets/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("@/assets/fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("@/assets/fonts/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("@/assets/fonts/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("@/assets/fonts/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #011627;
  border-left: solid 1px #1e2d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

pre {
  @apply !whitespace-pre-wrap !break-words !overflow-hidden !text-left;
}

body {
  @apply font-custom;
}
